.card-title {
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
    color: white;
    font-size: 4rem;
}

.card {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.card:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}